<div class="container">
  <div *ngIf="!this.error; else errorMsg">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input
        matInput
        [(ngModel)]="searchText"
        (ngModelChange)="filterUsers()"
        placeholder="Search"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sort By</mat-label>
      <mat-select [(ngModel)]="sortBy" (ngModelChange)="sortUsers()">
        <mat-option value="name">Name</mat-option>
        <mat-option value="username">Username</mat-option>
      </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]="filteredUsers" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'username']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'username']"></tr>
    </table>
  </div>
  <ng-template #errorMsg>
    {{ this.error }}
  </ng-template>
</div>
